{% extends "spider_base/ucs_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed with name=uc.name %}
    Content of: {{name}}
  {% endblocktrans %}{% endblock %}

{% block main_classes %}w3-padding {{block.super}} w3-content w3-card-4{% endblock %}
{% block body_class %}{% if uc.name == "index" %}w3-yellow{% elif not uc.public%}w3-green{% else%}w3-blue{%endif%}{% endblock %}

{% block content %}
  <div class="w3-padding {% if uc.name == "index" or uc.name == "fake_index" %}w3-yellow{% elif not uc.public%}w3-light-green{% else%}w3-light-blue{%endif%}">
    {% if request.user == uc.user %}
      <span class="w3-right">
        <div style="margin-bottom:5px">
          <a class="" href="{% url 'spider_base:ucomponent-update' name=uc.name nonce=uc.nonce %}">Update</a>
        </div>
        <div>
          {% trans "Strength:" %} {{uc.strength}}
        </div>
      </span>
    {% endif %}
    <h1 class="w3-center">
      {% if request.is_owner or uc.public %}
        {% blocktrans trimmed with name=uc %}
          Content of Component: <em>{{name}}</em>
        {% endblocktrans %}
      {% endif %}
    </h1>
    {% if request.token_expires %}
    <div>
      {% include 'spider_base/token_lifetime.html' with rtime=request.token_expires %}
    </div>
    {% endif %}
  </div>
  {% if uc.user == request.user %}
    <details class="" style="margin-bottom:30px" {% if object_list|length < 2 %}open="open"{% endif %}>
      <summary class="w3-button w3-hover-dark-grey w3-black">
        <i class="fa fa-plus" style="margin-right:10px" aria-hidden="true"></i>
        {% trans 'Add new content' %}
        <i class="fa fa-caret-down" style="margin-left:5px" aria-hidden="true"></i>
      </summary>
      <div class="w3-padding w3-border">
        <div class="w3-row">
          {% for variant in content_variants %}
            {% if uc.strength < variant.strength %}
            <div class="w3-padding w3-center w3-col s12 m3 w3-red" >
              <b style="margin-right:5px" aria-hidden="true">x</b>{{variant}}
            </div>
            {% else %}
            <a class="w3-button w3-col s12 m3 w3-grey" href="{% url 'spider_base:ucontent-add' name=uc.name type=variant.name %}" >
              <b style="margin-right:5px" aria-hidden="true">+</b>{{variant}}
            </a>
            {% endif %}
          {% empty %}
              {% trans 'No Content Variants available.' %}
          {% endfor %}
        </div>
      </div>
    </details>
  {% endif %}
  <table class="w3-table w3-striped w3-bordered w3-hoverable w3-margin">
    {% for content in object_list %}
      <tr>
        <td class="">
          {{ content.content|truncatechars:50 }}
        </td>
        <td class="w3-show-inline-block">
          <div class="w3-bar w3-round-large w3-tiny w3-blue">
            <a class="w3-hover-black w3-button w3-bar-item w3-tooltip" href="{% url 'spider_base:ucontent-access' id=content.id nonce=content.nonce access='view' %}?{{spider_GET.urlencode}}">
              <i class="fa fa-eye" alt="{% trans 'View' %}" aria-label="{% trans 'View' %}"></i>
              <span aria-hidden="true" style="position:absolute;left:1px;bottom:2px" class="w3-text w3-black w3-large"><span class="w3-animate-opacity">{% trans "View" %}</span></span>
            </a>
            {% if uc.user == request.user  %}
            <a class="w3-hover-black w3-button w3-bar-item w3-tooltip" href="{% url 'spider_base:ucontent-access' id=content.id nonce=content.nonce access='update' %}">
              <i class="fa fa-edit" alt="{% trans 'Edit' %}" aria-label="{% trans 'Edit' %}"></i>
              <span aria-hidden="true" style="position:absolute;left:1px;bottom:2px" class="w3-text w3-black w3-large"><span class="w3-animate-opacity">{% trans "Edit" %}</span></span>
            </a>
            <a class="w3-hover-black w3-button w3-bar-item w3-tooltip" href="{% url 'spider_base:ucontent-remove' user=content.usercomponent.username name=content.usercomponent.name id=content.id  nonce=content.nonce %}">
              <i class="fa fa-trash" alt="{% trans 'Delete' %}" aria-label="{% trans 'Delete' %}"></i>
              <span aria-hidden="true" style="position:absolute;left:1px;bottom:2px" class="w3-text w3-black w3-large"><span class="w3-animate-opacity">{% trans "Del" %}</span></span>
            </a>
            {% endif %}
          </div>
        </td>
      </tr>
    {% empty %}
      <tr><td>{% trans 'No User Content available.' %}</td></tr>
    {% endfor %}
  </table>
  <div class="page-manipulation w3-padding" style="margin-top:40px">
    {% include 'spider_base/list_footer.html' %}
  </div>
{% endblock %}
