{% extends "spider_base/uc_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed %}
  Delete Content
{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>
    {% blocktrans trimmed %}
      Delete Content
    {% endblocktrans %}
  </h1>

  <div class="w3-padding w3-content w3-center w3-red w3-xlarge">
    {% blocktrans trimmed with name=object %}
      Warning this deletes the content.<br/>
      Go back if you don't want to this and you didn't hit delete.<br/>
      You can abort the deletion process with reset if it is shown.<br/>
      It is always shown except no deletion is in progress.
    {% endblocktrans %}
  </div>

  <div class="w3-bar w3-black w3-container w3-margin">
    {% if not remaining or remaining == 0 %}
    <form method="post" action="{{request.path}}">
      {% csrf_token %}
      <input type="hidden" name="action" value="delete" />
      <button class="w3-bar-item w3-hover-yellow w3-button w3-red">{% trans 'Delete' %}</button>
    </form>
    {% endif %}

    {% if remaining %}
    <form method="post" action="{{request.path}}">
      {% csrf_token %}
      <input type="hidden" name="action" value="reset" />
      <button class="w3-bar-item w3-hover-blue w3-button w3-green">{% trans 'Reset' %}</button>
    </form>
    {% endif %}
  </div>
{% endblock %}
