{% extends "spider_base/uc_base.html" %}
{% load i18n static spider_base spider_paging spider_rdf %}
{% block title %}{% if uc.public %}{% blocktrans trimmed %}
  Content of:
{% endblocktrans %} {{uc}} ({{uc.username}}){% else %}{% blocktrans trimmed %}
  Content List
{% endblocktrans %}{% endif %}{% endblock %}

{% block public_meta %}
  {{block.super}}
  <meta name="description" content="{{uc.description|escape}}" />
{% endblock %}

{% block extrahead %}
{{block.super}}
<script src="{% static 'node_modules/qrcode/build/qrcode.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}">
{% if DEBUG %}
  <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'node_modules/select2/dist/js/select2.js' %}"></script>
{% else %}
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/select2/dist/js/select2.min.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}
<div>
  <div class="w3-padding">
    <span class="w3-left">
      {% if request.user == uc.user or request.is_staff %}
        <a class="w3-block" style="margin-bottom:5px" href="{% if request.is_owner %}{% url 'spider_base:ucomponent-list' %}{% else %}{% url 'spider_base:ucomponent-list' user=uc.user %}{% endif %}">
          <i class="fas fa-arrow-up" style="margin-right:10px" aria-hidden="true"></i>{% trans 'Owned' %}
        </a>
      {% endif %}
      <a class="w3-block" style="margin-bottom:5px" href="{% url 'spider_base:ucomponent-listpublic' %}">
        <i class="fas {% if request.user == uc.user or request.is_staff %}fa-angle-double-up{% else %}fa-arrow-up{% endif %}" style="margin-right:10px" aria-hidden="true"></i>{% trans 'Public' %}
      </a>
    </span>
    <span class="w3-right w3-left-align">
      {% if request.user == uc.user %}
        <a class="w3-block" style="margin-bottom:5px" href="{% url 'spider_base:ucomponent-update' token=uc.token %}">
          <i class="fas fa-edit" style="margin-right:10px" aria-hidden="true"></i>{% trans 'Update' %}
        </a>
      {% endif %}
        <a class="w3-block" style="margin-bottom:5px" onclick="if(document.readyState === 'complete'){open_qrmodal();}; return false;" href="#">
          <i class="fas fa-file-export" style="margin-right:10px" aria-hidden="true"></i>{% trans 'Link/Export' %}
        </a>
      <div>
        <i class="fas fa-lock" style="margin-right:10px" aria-hidden="true"></i>{% trans "Strength:" %} <data property="spkc:strength" datatype="xsd:integer">{{uc.strength}}</data>
      </div>
    </span>
    <h1 class="w3-center">
      {% if request.is_owner or uc.public %}
        {% blocktrans trimmed %}
          Content of:
        {% endblocktrans %} <b>{{uc}}</b> <em>({{uc.user}})</em>
        <data hidden="hidden" rel="spkc:properties">
          <data hidden="hidden" typeof="spkc:Property">
            <data hidden="hidden" property="spkc:name" datatype="xsd:string">name</data>
            <data hidden="hidden" property="spkc:value" datatype="xsd:string">{{uc.name}}</data>
          </data>
          <data hidden="hidden" typeof="spkc:Property">
            <data hidden="hidden" property="spkc:name" datatype="xsd:string">user</data>
            <data hidden="hidden" property="spkc:value" datatype="xsd:string">{{uc.username}}</data>
          </data>
        </data>
      {% else %}
        {% blocktrans trimmed %}
          Content:
        {% endblocktrans %}
      {% endif %}
    </h1>
    {% for f in uc.features.all %}
      {% for action in f.installed_class.feature_urls %}
        <data hidden="hidden" typeof="spkc:action:feature" resource="{{hostpart}}{{action.url}}">
          <data hidden="hidden" property="spkc:feature:name" datatype="xsd:string">{{action.name}}</data>
        </data>
      {% endfor %}
    {% endfor %}
    <data hidden="hidden" rel="spkc:properties">
      <data hidden="hidden" typeof="spkc:Property">
        <data hidden="hidden" property="spkc:name" datatype="xsd:string">description</data>
        <data hidden="hidden" property="spkc:value" datatype="xsd:string">{{uc.description}}</data>
      </data>

      {% if uc.primary_anchor %}
      <data hidden="hidden" typeof="spkc:Property">
        <data hidden="hidden" property="spkc:name" datatype="xsd:string">primary_anchor</data>
        <data hidden="hidden" property="spkc:value" datatype="xsd:anyURI">{{hostpart}}{{uc.primary_anchor.get_absolute_url}}</data>
      </data>
      {% endif %}
      {% for f in uc.features.all %}
        <data hidden="hidden" typeof="spkc:Property">
          <data hidden="hidden" property="spkc:name" datatype="xsd:string">features</data>
          <data hidden="hidden" property="spkc:value" datatype="xsd:string">{{f.name}}</data>
        </data>
      {% endfor %}
    </data>
    {% if uc.description %}
      <div class="w3-white w3-center">
        {{uc.description|linebreaks}}
      </div>
    {% endif %}
    {% if request.token_expires %}
    <div>
      {% include 'spider_base/token_lifetime.html' with rtime=request.token_expires %}
    </div>
    {% endif %}
  </div>
  {% list_parameters "search" as cur_search %}
  {% if request.is_owner and not cur_search %}
    <details class="w3-margin" style="margin-bottom:30px" {% if object_list|length < 2 %}open="open"{% endif %}>
      <summary class="w3-button w3-hover-dark-grey w3-black">
        <i class="fas fa-plus" style="margin-right:10px" aria-hidden="true"></i>
        {% trans 'Add new content' %}
        <i class="fas fa-caret-down" style="margin-left:5px" aria-hidden="true"></i>
      </summary>
      <div class="w3-border">
        <div class="w3-row">
          {% for variant in content_variants %}
            {% if uc.strength < variant.strength %}
            <div class="w3-padding w3-left-align w3-col s12 m4 l3 w3-red w3-tooltip">
              <b style="margin-right:5px" aria-hidden="true">X</b>{{variant}}
              <div aria-hidden="true" title="{{variant}}" class="w3-text spkc-variant-errcolor spkc-variant-text"><div class="w3-padding"><b style="margin-right:5px" aria-hidden="true">X</b><span class="w3-tiny">{% blocktrans trimmed with required_strength=variant.strength %}
                Requires Strength: {{required_strength}}
              {% endblocktrans %}</span></div></div>
            </div>
            {% else %}
            <a rel="nofollow" class="w3-button w3-left-align w3-col s12 m4 l3 {% if variant in content_variants_used %}{% if variant.unique_for_component %}color-used-and-unique-contentvariant{% else %}color-used-contentvariant{% endif %}{% else %}color-fresh-contentvariant{% endif %}" href="{% url 'spider_base:ucontent-add' token=uc.token type=variant.name %}?{{spider_GET.urlencode}}" >
              <b style="margin-right:5px" aria-hidden="true">+</b>{{variant}}
            </a>
            {% endif %}
          {% empty %}
              {% trans 'No Content Variants available.' %}
          {% endfor %}
        </div>
      </div>
    </details>
  {% endif %}

  {% if uc.features.exists %}
  <div class="w3-padding">
    <div class="w3-white w3-padding">
      <h4>{% trans 'Active Component Features' %}:</h4>
      <div>
        {% for f in uc.features.all %}
          <span class="" style="display:inline-block;white-space:nowrap;">{{f}}{% if not forloop.last %}, {% endif %}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="w3-margin">
    <table class="w3-table w3-striped w3-bordered w3-hoverable w3-white" rel="spkc:contents">
      {% for content in object_list %}
        <tr resource="{% url 'spider_base:ucontent-access' token=content.token access='view' %}" typeof="spkc:Content">
          <td class="" style="width:40%; min-height:48px" rel="spkc:properties">
            <span>
              <span>{{ content.content|truncatechars:50 }}</span>
            </span>
            <data hidden="hidden" typeof="spkc:Property">
              <data hidden="hidden" property="spkc:name" datatype="xsd:string">info</data>
              <data hidden="hidden" property="spkc:value" datatype="xsd:string">{{content.info}}</data>
            </data>
            <data hidden="hidden" typeof="spkc:Property">
              <data hidden="hidden" property="spkc:name" datatype="xsd:string">id</data>
              <data hidden="hidden" property="spkc:value" datatype="xsd:integer">{{content.get_id}}</data>
            </data>
          </td>
          <td>
            {% if uc.public or request.is_special_user %}
              {% blocktrans trimmed with time=content.modified|timesince %}
              Modified: {{time}} ago
              {% endblocktrans %}
            {% endif %}
          </td>
          <td class="w3-show-inline-block">
            <data hidden="hidden" property="spkc:type" datatype="xsd:string">Content</data>
            <div class="w3-bar w3-round-large w3-tiny w3-blue">
              <a style="{% if request.is_special_user  %}width:33%{% else %}width:100%{% endif %}" class="w3-hover-black w3-button w3-bar-item w3-tooltip w3-mobile" href="{% url 'spider_base:ucontent-access' token=content.token access='view' %}?{{spider_GET.urlencode}}" property="spkc:action:view">
                <div class="spkc-entity-button"><i class="fas fa-eye" alt="{% trans 'View' %}" aria-label="{% trans 'View' %}"></i></div>
                <div aria-hidden="true" class="w3-text w3-black spkc-entity-button-text"><div class="w3-animate-opacity">{% trans "View" %}</div></div>
              </a>
              {% if request.is_special_user  %}
              <a style="width:33%" rel="nofollow" class="w3-hover-black w3-button w3-bar-item w3-tooltip w3-mobile" href="{% url 'spider_base:ucontent-access' token=content.token access='update' %}?{{spider_GET.urlencode}}" property="spkc:action:update">
                <div class="spkc-entity-button"><i class="fas fa-edit" alt="{% trans 'Edit' %}" aria-label="{% trans 'Edit' %}"></i></div>
                <div aria-hidden="true" class="w3-text w3-black spkc-entity-button-text"><div class="w3-animate-opacity">{% trans "Edit" %}</div></div>
              </a>
              <a style="width:33%" rel="nofollow" class="w3-hover-black w3-button w3-bar-item w3-tooltip w3-mobile" href="{% url 'spider_base:ucontent-remove' token=content.token %}" property="spkc:action:delete">
                <div class="spkc-entity-button"><i class="fas fa-trash" alt="{% trans 'Delete' %}" aria-label="{% trans 'Delete' %}"></i></div>
                <div aria-hidden="true" class="w3-text w3-black spkc-entity-button-text"><div class="w3-animate-opacity">{% trans "Del" %}</div></div>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% empty %}
        <tr><td>{% trans 'No User Content available.' %}</td></tr>
      {% endfor %}
    </table>
  </div>
  <div class="page-manipulation w3-padding" style="margin-top:40px">
    {% list_parameters "search" as cur_search %}
    {% if request.is_special_user and has_unlisted and "_unlisted" not in cur_search %}
      {% blocktrans trimmed %}
        This Component contains unlisted content, use "_unlisted" in search to see and edit them
      {% endblocktrans %}
    {% endif %}
    {% include 'spider_base/list_footer.html' %}
  </div>
</div>
{% endblock %}

{% block outercontent %}
{% if request.is_owner %}
{% url 'spider_base:ucontent-export' token=uc.token as exportlink %}
{% with exportlink=exportlink|add:"?"|add:spider_GET.urlencode %}
{% include "spider_base/modalpresenter.html" %}
{% endwith %}
{% else %}
{% include "spider_base/modalpresenter.html" %}
{% endif %}
{% endblock %}
