{% extends "spider_base/uc_base.html" %}
{% load i18n static spider_base %}

{% block title %}{% if scope == "add" %}{% blocktrans trimmed with name=object %}
  Create Content: {{name}}
{% endblocktrans %}{% elif scope == "update" %}{% blocktrans trimmed with name=object %}
  Update Content: {{name}}
{% endblocktrans %}{% else %}{% blocktrans trimmed with name=object %}
  Content: {{name}}
{% endblocktrans %}{% endif %}{% endblock %}


{% block extrahead %}
{{block.super}}
{% if content %}
  {{content.1}}
{% endif %}
{% if form %}
  {{form.media}}
{% endif %}
<script src="{% static 'node_modules/qrcode/build/qrcode.min.js' %}"></script>
{% endblock %}

{% block main_classes %}{{block.super}}{% if not object %} w3-animate-bottom{% endif %}{% endblock %}

{% block content %}
  <div class="w3-padding">
    {% if request.user == uc.user or uc.public %}
      <a class="w3-left" href="{% url 'spider_base:ucontent-list' id=uc.id nonce=uc.nonce %}?{{request.GET.urlencode}}">{% trans 'Index' %}</a>
    {% endif %}
    <span class="w3-right">
      {% if scope != "add" and request.user == uc.user %}
        <div style="margin-bottom:5px">
          <a href="{% url 'spider_base:ucontent-remove' user=uc.username name=uc.name nonce=object.nonce id=object.id %}">
            {% trans 'Delete' %}
          </a>?
        </div>
        <div style="margin-bottom:5px">
          <a class="" href="{% url 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='export' %}">{% trans 'Export' %}</a>
        </div>
        {% if scope != "view" %}
        <div style="margin-bottom:5px">
          <a class="" href="{% url 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='view' %}?{{spider_GET.urlencode}}">
            {% trans "View" %}
          </a>
        </div>
        {% endif %}
        {% if scope != "add" and scope != "update" %}
        <div style="margin-bottom:5px">
          <a class="" href="{% url 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='update' %}?{{spider_GET.urlencode}}">
            {% trans "Update" %}
          </a>
        </div>
      {% endif %}
      <div>
        {% trans "Strength:" %} {{uc.strength}}
      </div>
    </span>
    {% endif %}
    <h1 class="w3-center">
      {% if scope == "add" %}
        {% trans object.name as local_name %}
        {% blocktrans trimmed with name=local_name %}
          Create Content: <em>{{name}}</em>
        {% endblocktrans %}
      {% elif scope == "update" %}
        {% trans object.ctype.name as local_name %}
        {% blocktrans trimmed %}
          Update:
        {% endblocktrans %} {% if uc.public or uc.user == request.user %}<em>{{uc}}</em>:{% endif %}<b>{{object}}</b> <small><em>({{local_name}})</em></small>
      {% else %}
        {% trans object.ctype.name as local_name %}
        {% blocktrans trimmed with name=object %}
          View:
        {% endblocktrans %} {% if uc.public or uc.user == request.user %}<em>{{uc}}</em>:{% endif %}<b>{{object}}</b> <small><em>({{local_name}})</em></small>
      {% endif %}
    </h1>
    {% if request.token_expires %}
    <div>
      {% include 'spider_base/token_lifetime.html' with rtime=request.token_expires %}
    </div>
    {% endif %}
  </div>
{% if form %}
  {% if not render_in_form %}
  <details>
    <summary class="w3-btn w3-grey">
      <i class="fa fa-plus" style="margin-right:10px" aria-hidden="true"></i>
      {% trans 'Base Settings' %}
      <i class="fa fa-caret-down" style="margin-left:5px" aria-hidden="true"></i>
    </summary>
    {% endif %}
    {% include "spider_base/form_errors.html" with form=form %}
    <form class="w3-padding" action="{{ request.get_full_path }}" enctype="{{enctype}}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend><h2>{% trans 'Content Settings' %}</h2></legend>
        {% include "spider_base/base_form.html" with form=form %}
      </fieldset>
      {% if content and render_in_form %}
        <fieldset>
          <legend><h2>{% if scope == "add" %}{{object}}{% else %}{{object.associated.ctype}}{% endif %}</h2></legend>
          {{content.0|safe}}
        </fieldset>
      {% endif %}
      <button class="w3-button w3-grey">
        {% if scope == "add" %}
          {% trans 'Create' %}
        {% else %}
          {% trans 'Update' %}
        {% endif %}
      </button>

      {% if scope != "add" %}
        <a class="w3-right" href="{% url 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='view' %}?{{request.GET.urlencode}}">
          {% trans "View" %}
        </a>
      {% endif %}
    </form>
  {% if not render_in_form %}
  </details>
  {% endif %}
{% endif %}
{% if scope == "update" and UserContentType.raw_update in associated.ctype %}
  <div>
    <a class="w3-button" href="{% url 'ucontent-access' id=object.id nonce=object.nonce access='raw_update' %}">
      <i class="fa fa-settings" aria-hidden="true"></i>
      {% trans 'Update Raw Content' %}
    </a>
  </div>
{% endif %}
{% if not render_in_form %}{{content.0|safe}}{% endif %}
{% endblock %}

{% block outercontent %}
{% if request.user == uc.user %}
{% url 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='export' as exportlink %}
{% endif %}
{% if scope != "add" %}
  {% reverse_get 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='view' as nativelink %}
{% endif %}
{% include "spider_base/modalpresenter.html" %}
{% endblock %}
