{% extends "spider_base/uc_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed with name=uc.name %}
    Content of: {{name}}
{% endblocktrans %}{% endblock %}

{% block content %}
  <div class="w3-padding">
    {% if request.user == uc.user %}
      <a class="w3-left" href="{% url 'spider_base:ucomponent-list' %}">{% trans 'index' %}</a>
      <span class="w3-right">
        <div style="margin-bottom:5px">
          <a class="" href="{% url 'spider_base:ucomponent-update' name=uc.name nonce=uc.nonce %}">Update</a>
        </div>
        <div style="margin-bottom:5px">
          <a class="" href="{% url 'spider_base:ucontent-export' id=uc.id nonce=uc.nonce %}">{% trans 'Export' %}</a>
        </div>
        <div>
          {% trans "Strength:" %} {{uc.strength}}
        </div>
      </span>
    {% endif %}
    <h1 class="w3-center">
      {% if request.is_owner or uc.public %}
        {% blocktrans trimmed with name=uc %}
          Content of Component: <em>{{name}}</em>
        {% endblocktrans %}
      {% endif %}
    </h1>
    {% if request.token_expires %}
    <div>
      {% include 'spider_base/token_lifetime.html' with rtime=request.token_expires %}
    </div>
    {% endif %}
  </div>
  {% if uc.user == request.user %}
    <details class="w3-margin" style="margin-bottom:30px" {% if object_list|length < 2 %}open="open"{% endif %}>
      <summary class="w3-button w3-hover-dark-grey w3-black">
        <i class="fa fa-plus" style="margin-right:10px" aria-hidden="true"></i>
        {% trans 'Add new content' %}
        <i class="fa fa-caret-down" style="margin-left:5px" aria-hidden="true"></i>
      </summary>
      <div class="w3-padding w3-border">
        <div class="w3-row">
          {% for variant in content_variants %}
            {% if uc.strength < variant.strength %}
            <div class="w3-padding w3-left-align w3-col s12 m4 l3 w3-red" >
              <b style="margin-right:5px" aria-hidden="true">x</b>{{variant}}
            </div>
            {% else %}
            <a class="w3-button w3-left-align w3-col s12 m4 l3 w3-grey" href="{% url 'spider_base:ucontent-add' name=uc.name type=variant.name %}" >
              <b style="margin-right:5px" aria-hidden="true">+</b>{{variant}}
            </a>
            {% endif %}
          {% empty %}
              {% trans 'No Content Variants available.' %}
          {% endfor %}
        </div>
      </div>
    </details>
  {% endif %}
  <div class="w3-margin">
    <table class="w3-table w3-striped w3-bordered w3-hoverable">
      {% for content in object_list %}
        <tr>
          <td class="" style="width:20%; min-height:48px">
              {{ content.content|truncatechars:50 }}
          </td>
          <td>
            {% if uc.public or request.user == uc.user %}
              {% blocktrans trimmed with time=content.modified|timesince %}
              Modified: {{time}} ago
              {% endblocktrans %}
            {% endif %}
          </td>
          <td class="w3-show-inline-block">
            <div class="w3-bar w3-round-large w3-tiny w3-blue">
              <a class="w3-hover-black w3-button w3-bar-item w3-tooltip w3-mobile" href="{% url 'spider_base:ucontent-access' id=content.id nonce=content.nonce access='view' %}?{{spider_GET.urlencode}}">
                <div class="spkc-item-button"><i class="fa fa-eye" alt="{% trans 'View' %}" aria-label="{% trans 'View' %}"></i></div>
                <span aria-hidden="true" class="w3-text w3-black spkc-item"><div class="w3-animate-opacity">{% trans "View" %}</div></span>
              </a>
              {% if uc.user == request.user  %}
              <a class="w3-hover-black w3-button w3-bar-item w3-tooltip w3-mobile" href="{% url 'spider_base:ucontent-access' id=content.id nonce=content.nonce access='update' %}">
                <div class="spkc-item-button"><i class="fa fa-edit" alt="{% trans 'Edit' %}" aria-label="{% trans 'Edit' %}"></i></div>
                <span aria-hidden="true" class="w3-text w3-black spkc-item"><div class="w3-animate-opacity">{% trans "Edit" %}</div></span>
              </a>
              <a class="w3-hover-black w3-button w3-bar-item w3-tooltip w3-mobile" href="{% url 'spider_base:ucontent-remove' user=content.usercomponent.username name=content.usercomponent.name id=content.id  nonce=content.nonce %}">
                <div class="spkc-item-button"><i class="fa fa-trash" alt="{% trans 'Delete' %}" aria-label="{% trans 'Delete' %}"></i></div>
                <span aria-hidden="true" class="w3-text w3-black spkc-item"><div class="w3-animate-opacity">{% trans "Del" %}</div></span>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% empty %}
        <tr><td>{% trans 'No User Content available.' %}</td></tr>
      {% endfor %}
    </table>
  </div>
  <div class="page-manipulation w3-padding" style="margin-top:40px">
    {% include 'spider_base/list_footer.html' %}
  </div>
{% endblock %}
