{% load i18n widget_tweaks %}
<ul class="w3-ul">
  {% for field in form.visible_fields %}
    <li class="">
      <div class="">
        <div class="w3-cell w3-padding">
          {{ field.label_tag }}<br/>
          {% if field.field.widget.input_type == "select" %}
            {% if field.field.queryset %}
              <ul rel="{{field.name}}" class="w3-white">
                {% for q in field.field.queryset %}
                  <li><a property="url" href="{{q.get_absolute_url}}">{{q}}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <ul rel="{{field.name}}" class="w3-white">
                {% for q in field.value %}
                  <li property="value">{{q}}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% elif field|widget_type == "url" %}
            <a property="{{field.name}}" class="w3-white" href={{field.value}}>{{field.name}}</a>
          {% else %}
            <span property="{{field.name}}" class="w3-white">{{field.value}}</span>
          {% endif %}
        </div>
      </div>
    </li>
  {% empty %}{{form_empty_message|safe}}{% endfor %}
</ul>
