{% load spider_rdf %}
{% include "spider_base/form_errors.html" with form=form %}
<{% if not inner_form %}form action="{{ request.get_full_path }}" enctype="{{enctype}}" method="post"{% else %}div{% endif %}{% if include_namespace %}vocab="{% namespace %}" resource="{{ request.path }}"{% endif %}>
  {% for rdftype in add_rdf_type %}
  <data resource="{% bnode %}" hidden="hidden">
    <data property="spkc:name" hidden="hidden">type</data>
    <data property="spkc:value" hidden="hidden">{{rdftype}}</data>
  </data>
  {% endfor %}
  {% csrf_token %}
  <fieldset>
    <legend><h2>{{legend|safe}}</h2></legend>
    {% include "spider_base/base_form.html" with form=form %}
  </fieldset>
  {% if not inner_form %}
    <button class="w3-button w3-grey">
      {{confirm}}
    </button>
    {% endif %}
<{% if not inner_form %}/form{% else %}/div{% endif %}>
