{% extends "spider_base/ucs_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed %}
    Home
{% endblocktrans %}{% endblock %}

{% block content %}
  <div>
  </div>
  {% for uc in object_list %}
    <div class="w3-card w3-yellow" style="margin-top: 10px">
      <div class="w3-cell w3-padding">
        {% if not component_user %}{{uc.user}} - {%endif%}{{ uc }}
      </div>
      <div class="w3-cell" style="padding-left: 40px">
        <a class="w3-button w3-blue" href="{% url 'spider_base:ucontent-list' name=uc.name %}">{% trans "List" %}</a>
        {% if uc.user == request.user %}
          <a class="w3-button w3-blue" href="{% url 'spider_base:ucomponent-update' name=uc.name %}">{% trans "Edit" %}</a>
        {% endif %}
    </div>
    </div>
  {% empty %}
      {% trans 'No User Components available.' %}
  {% endfor %}
  <div class="page-manipulation w3-padding" style="margin-top:40px">
    <div class="w3-padding">
      <form class="w3-cell-row w3-black" style="max-width:400px" method="GET" action="">
        <input type="hidden" name="page" value="{% if request.GET.search %}{{ page_obj.number }}{% else %}1{% endif %}"/>
        <div class="w3-cell">
          <input class="w3-input" type="text" name="search" placeholder="{% trans 'Search' %}" />
        </div>
        <div class="w3-cell">
          <button class="w3-button w3-input w3-gray">-&gt;</button>
        </div>
      </form>
    </div>
    <div class="w3-padding w3-center">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
