{% load i18n spider_base %}
<div class="w3-padding">
  <form class="" style="max-width:400px;white-space: nowrap;" method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="page" value="{{ page_obj.number }}"/>
    <select class="w3-input" name="search" id="search_field_list_footer" multiple="multiple">
      {% list_search_parameters as cur_search %}
      {% for elem in cur_search %}
        <option selected="selected" value="{{elem}}">{{elem}}</option>
      {% endfor %}
    </select>
    <button class="w3-button w3-gray"><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</div>
<div class="w3-padding w3-center">
  {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
  {% endif %}

  <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </span>

  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
  {% endif %}
</div>


<script>
jQuery.noConflict();
var list_footer_scripts_initialized = false;

jQuery( document ).ready(function( $ ) {
  if (list_footer_scripts_initialized)
    return;
  list_footer_scripts_initialized = true;
  $("#search_field_list_footer").select2({
    tags: true,
    placeholder: "{% trans 'Search' %}",
  });
})

</script>
