{% load i18n %}


{# z-index important for trumbowyg, set higher if not enough #}
<div id="qrpresenter" class="w3-modal" style="height:100%; z-index:100">
  <div class="w3-modal-content">
    <header class="w3-container w3-teal">
      <span onclick="close_qrmodal(); return false;"
      class="w3-button w3-black w3-display-topright">&times;</span>
      <h2>{% trans "QR/Export-Mode" %}</h2>
    </header>
    <div class="w3-container">
      <canvas id="qrcanvas"></canvas>
    </div>
    <div class="w3-container">
      <div class="w3-text-black" id="remotelink_wrapper">
        {# important for href check, elsewise same url #}
        {% trans "Link"%}: <a type="text" href="#" id="remotelink"></a>
      </div>
      <div class="w3-text-black" id="rawlink_wrapper">
        {# important for href check, elsewise same url #}
        <a href="#" id="rawlink">{% trans "Raw" %}</a>
      </div>
      <a class="w3-text-black" style="display:none;" id="exportlink" href="">{% trans 'Export' %}</a>
    </div>
    <div class="w3-container">
      <br/>
    </div>
  </div>
</div>

<script type="text/javascript">
var remotelink = "{{remotelink|escapejs}}";
var exportlink = "{{exportlink|escapejs}}";
function open_qrmodal(){
  let _qrcanvas = document.getElementById('qrcanvas');
  let remotelink_link = document.getElementById('remotelink');
  let rawlink_link = document.getElementById('rawlink');
  let rawlink_wrapper = document.getElementById('rawlink_wrapper');
  let exportlink_link = document.getElementById('exportlink');
  rawlink_wrapper.style.display = "block";
  if (remotelink_link.href != remotelink){
    if (remotelink.slice(-1)=="?"){
      rawlink_link.href = `${remotelink}raw=true`;
    } else {
      rawlink_link.href = `${remotelink}&raw=true`;
    }
    remotelink_link.href = remotelink;
    remotelink_link.text = remotelink;
    QRCode.toCanvas(
      _qrcanvas, remotelink, {  },
      function (error) {
        if (error)
          console.error(error)
      }
    )
  }
  if (exportlink != "" && exportlink_link.href != exportlink){
    exportlink_link.href = exportlink;
    exportlink_link.style.display = "block";
  } else {
    exportlink_link.href = "#";
    exportlink_link.style.display = "none";
  }
  document.getElementById('qrpresenter').style.display='block';
}


function close_qrmodal(){
  document.getElementById('qrpresenter').style.display='none'
}
</script>
