{% load i18n basic_math %}
<span>{% trans 'Remaining lifetime of token' %}:</span>

<span id="remaining_tokenlifetime-countdown">
  {% blocktrans trimmed with days=rtime.days hours=rtime.seconds|divide:"3600" minutes=rtime.seconds|remainder:"3600"|divide:"60" seconds=rtime.seconds|remainder:"60" %}
  Days: {{days}} {{hours}}h:{{minutes}}m:{{seconds}}s
  {% endblocktrans %}
</span>
<script>
  var remaining_tokenlifetime_seconds = Math.floor({{rtime.total_seconds}});
  {# TODO: enter start time of counter, so remaining time is correct even reloaded #}

  var interval_id = setInterval(function() {
    remaining_tokenlifetime_seconds -= 1;
    let formatted;
    let seconds = remaining_tokenlifetime_seconds;
    if (seconds > 0){
      let days = Math.floor(seconds / 86400)
      seconds = seconds%86400;
      let hours = Math.floor(seconds / 3600)
      seconds = seconds%3600;
      let minutes = Math.floor(seconds / 60);
      seconds = seconds%60; // trivial
      formatted = `{% blocktrans trimmed with days="${days}"|safe hours="${hours}"|safe minutes="${minutes}"|safe seconds="${seconds}"|safe %}
      Days: {{days}} {{hours}}h:{{minutes}}m:{{seconds}}s
      {% endblocktrans %}`;
    } else {
      clearInterval(interval_id);
      formatted = '{% trans "Expired" %}';
    }
    document.getElementById("remaining_tokenlifetime-countdown").innerHTML = formatted;
  }, 1000)


</script>
