{% extends "spider_base/uc_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed with name=object.name %}
  Delete: {{name}}
{% endblocktrans %}{% endblock %}

{% block main_classes %}{{block.super}} w3-grey{% endblock %}
{% block main_classes %}{{block.super}} w3-grey{% endblock %}
{% block main_classes %}w3-padding w3-content w3-card-4 w3-pale-grey{% endblock %}
{% block body_class %}{% if uc.name == "index" %}w3-yellow{% elif not uc.public%}w3-green{% else%}w3-blue{%endif%}{% endblock %}

{% block content %}
  <h1 class="w3-center">
    {% blocktrans trimmed with name=object %}
      Delete User Component: <em>{{name}}</em>
    {% endblocktrans %}
  </h1>
  <div class="w3-padding w3-content w3-center w3-red w3-xlarge">
    {% blocktrans trimmed with name=object %}
      Warning this deletes the component and all depending content.<br/>
      Go back if you don't want to this and you didn't hit delete.<br/>
      You can abort the deletion process with reset if it is shown.<br/>
      It is always shown except no deletion is in progress.<br/>
    {% endblocktrans %}
  </div>

  <div class="w3-bar w3-black w3-container w3-margin">
    {% if not remaining or remaining == 0 %}
    <form method="post" action="{{request.path}}">
      {% csrf_token %}
      <input type="hidden" name="action" value="delete" />
      <button class="w3-bar-item w3-hover-yellow w3-button w3-red">{% trans 'Delete' %}</button>
    </form>
    {% endif %}

    {% if remaining %}
    <form method="post" action="{{request.path}}">
      {% csrf_token %}
      <input type="hidden" name="action" value="reset" />
      <button class="w3-bar-item w3-hover-blue w3-button w3-green">{% trans 'Reset' %}</button>
    </form>
    {% endif %}
  </div>
{% endblock %}
