{% extends "spider_base/ucs_base.html" %}
{% load i18n %}

{% block title %}{% if object %}
  {% blocktrans trimmed %}
    Update Component
  {% endblocktrans %}
{% else %}{% blocktrans trimmed %}
  Create Component
{% endblocktrans %}{% endif %}{% endblock %}

{% block context_actions %}
{{block.super}}
{% endblock context_actions %}
{% block main_classes %}w3-padding w3-content w3-card-4 w3-pale-green{% if not object %} w3-animate-bottom{% endif %}{% endblock %}


{% block content %}
  <div>
    <a class="w3-left" href="{% url 'spider_base:ucomponent-list' %}">{% trans 'index' %}</a>
    {% if object %}
      <span class="w3-right">
        {% if object.name != "index" %}
          <a href="{% url 'spider_base:ucomponent-delete' name=object.name nonce=object.nonce %}">{% trans 'delete' %}</a>?
          <hr/>
        {% endif %}
        <a class="" href="{% url 'spider_base:ucontent-list' user=object.username name=object.name nonce=object.nonce %}">
          {% trans "Contents" %}
        </a>
      </span>
    {% endif %}
    <h1 class="w3-center">
      {% if form.instance.id %}
        {% blocktrans trimmed with name=form.instance.name %}
          Update Component: <em>{{name}}</em>
        {% endblocktrans %}
      {% else %}
        {% trans 'Create new Component' %}
      {% endif %}
    </h1>
  </div>
  {% include "spider_base/form_errors.html" with form=form %}
  {{form.media}}
  <form class="" action="{{ request.path }}" encdata="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h1>{% trans 'User Component' %}</h1></legend>
      {% include "spider_base/base_form.html" with form=form %}
    </fieldset>
    <fieldset>
      <legend><h1>{% trans 'Protections' %}</h1></legend>
      <div class="w3-white responsive-columns">
        {% for prot in form.protections %}
          <div class="w3-padding w3-border">
            <h1 class="w3-center">{{prot}}</h1>
            {% include "spider_base/base_form.html" with form=prot %}
          </div>
        {% empty%}
          <div class="w3-padding w3-border">
            <div class="w3-orange w3-padding"> No protections: create component first </div>
          </div>
        {% endfor %}
    </fieldset>
    <button class="w3-button w3-grey">
      {% if form.instance.id %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}
    </button>
    {% if object %}
      <a class="w3-right" href="{% url 'spider_base:ucontent-list' user=object.username name=object.name nonce=object.nonce %}">
        {% trans "Contents" %}
      </a>
    {% endif %}
  </form>
{% endblock %}
