{% extends "spider_base/ucs_base.html" %}
{% load i18n %}

{% block title %}{% if object %}{% if object.name == "index" %}{% blocktrans trimmed %}
Change Login Protection{% endblocktrans %}{% else %}{% blocktrans trimmed %}
    Change Component
  {% endblocktrans %}{% endif %}{% else %}{% blocktrans trimmed %}
  Create Component
{% endblocktrans %}{% endif %}{% endblock %}

{% block context_actions %}
{{block.super}}
{% endblock context_actions %}
{% block main_classes %}w3-padding w3-content w3-card-4 w3-pale-green{% if not object %} w3-animate-bottom{% endif %}{% endblock %}


{% block content %}
  <div>
    <a class="w3-left" href="{% url 'spider_base:ucomponent-list' %}">{% trans 'index' %}</a>
    {% if object %}
      <span class="w3-right">
        {% if object.name != "index" %}
          <div style="margin-bottom:5px">
            <a href="{% url 'spider_base:ucomponent-delete' user=object.user name=object.name nonce=object.nonce %}">{% trans 'Delete' %}</a>?
          </div>
        {% endif %}
        <div>
          <a class="" href="{% url 'spider_base:ucontent-list' id=object.id nonce=object.nonce %}">
            {% trans "View" %}
          </a>
        </div>
      </span>
    {% endif %}
    <h1 class="w3-center">
      {% if form.instance.id and form.instance.name == "index" %}
        {% trans 'Change Login Protection' %}
      {% elif form.instance.id %}
        {% blocktrans trimmed with name=form.instance.name %}
          Change Component: <em>{{name}}</em>
        {% endblocktrans %}
      {% else %}
        {% trans 'Create new Component' %}
      {% endif %}
    </h1>
  </div>

  {% if form.instance.id %}
  <div>
    {% trans "Link to Component:" %}
    <a class="" href="{% url 'spider_base:ucontent-list' id=object.id nonce=object.nonce %}">
      {{request.scheme}}://{{request.get_host}}{% url 'spider_base:ucontent-list' id=object.id nonce=object.nonce %}
    </a>

  </div>
  {% endif %}
  {% include "spider_base/form_errors.html" with form=form %}
  {{form.media}}
  <form class="" action="{{ request.path }}" encdata="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>
        <h1>
        {% if form.instance.id and form.instance.name == "index" %}
          {% trans 'Login Protection' %}
        {% else %}
          {% trans 'User Component' %}
        {% endif %}
        </h1>
      </legend>
      {% include "spider_base/base_form.html" with form=form %}
    </fieldset>
    <fieldset>
      <legend><h1>{% trans 'Protections' %}</h1></legend>
      <div class="">
        {% for prot in form.protections %}
          <div class="w3-padding">
            <div class="w3-padding w3-card w3-white">
              <h1 class="w3-center">{{prot}}</h1>
              {% include "spider_base/base_form.html" with form=prot %}
            </div>
          </div>
        {% empty%}
          <div class="w3-padding">
            <div class="w3-padding w3-card w3-orange"> No protections: create component first </div>
          </div>
        {% endfor %}
    </fieldset>
    <button class="w3-button w3-grey">
      {% if form.instance.id %}{% trans "Change" %}{% else %}{% trans "Create" %}{% endif %}
    </button>
    {% if object %}
      <a class="w3-right" href="{% url 'spider_base:ucontent-list' id=object.id nonce=object.nonce %}">
        {% trans "Contents" %}
      </a>
    {% endif %}
  </form>
{% endblock %}
