{% extends "spider_base/ucs_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed with name=object.name %}
  Delete: {{name}}
{% endblocktrans %}{% endblock %}
{% block content %}
  <h1 class="w3-center">
    {% blocktrans trimmed with name=object.name %}
      Delete User Component: <em>{{name}}</em>
    {% endblocktrans %}
  </h1>
  {% if not remaining or remaining == 0 %}
  <form method="delete" action="{% url 'spider_base:ucomponent-delete' name=object.name %}">
    <input type="submit" value="Delete" />
  </form>
  {% endif %}

  {% if remaining %}
  <form method="post" action="{% url 'spider_base:ucomponent-delete' name=object.name %}">
    <input type="submit" value="Reset" />
  </form>
  {% endif %}
{% endblock %}
