{% extends "spider_base/nouc_base.html" %}
{% load i18n static spider_rdf %}
{% block title %}{% url 'spider_base:ucomponent-listpublic' as listpublic %}{% if listpublic == request.path %}{% blocktrans trimmed %}
  Public Components
{% endblocktrans %}{% elif request.is_owner %}{% blocktrans trimmed %}
  Owned Components
{% endblocktrans %}{% else %}{% blocktrans trimmed with name=username %}
    Component List of {{name}}
  {% endblocktrans %}
{% endif %}{% endblock %}

{% block public_meta %}
  {{block.super}}
  <meta name="description" content="{{SETTINGS.SPIDER_DESCRIPTION|escape}}" />
{% endblock %}

{% block extrahead %}
{{block.super}}
<link rel="stylesheet" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}">
{% if DEBUG %}
  <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'node_modules/select2/dist/js/select2.full.js' %}"></script>
{% else %}
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/select2/dist/js/select2.full.min.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}
  {% url 'spider_base:ucomponent-listpublic' as listpublic %}
  <div class="w3-padding">
    {% if listpublic == request.path %}
    <span class="w3-left">
      <a class="w3-block" style="margin-bottom:10px" href="{% url 'home' %}?{{request.GET.urlencode}}">{% trans 'Home' %}</a>
    </span>
    <data hidden="hidden" property="spkc:strength" datatype="xsd:integer">0</data>
    {% else %}
    <span class="w3-left">
      <a class="" href="{% url 'spider_base:ucomponent-listpublic' %}?{{request.GET.urlencode}}">{% trans 'Up (Public)' %}</a>
    </span>
    <data hidden="hidden" property="spkc:strength" datatype="xsd:integer">10</data>
    {% endif %}
    {% if request.user.is_authenticated %}
      <span class="w3-right">
        <div style="margin-bottom:10px">
          <a href="{% url 'spider_base:ucomponent-create' %}">
            <i class="fa fa-plus" style="margin-right:10px" aria-hidden="true"></i>
            {% trans 'Add New Component' %}
          </a>
        </div>
        {% if listpublic == request.path %}
          <div style="text-align:right;">
            <a href="{% url 'spider_base:ucomponent-list' %}">{% trans 'Owned' %}</a>
          </div>
        {% else %}
          <div style="text-align:right;">
            <a href="{% url 'spider_base:ucomponent-export' user=request.user %}">
              {% trans 'Export' %}
            </a>
          </div>
        {% endif %}
      </span>
    {% endif %}
    <h1 class="w3-center">
      {% if listpublic == request.path %}{% blocktrans trimmed %}
        Public Components
      {% endblocktrans %}{% elif request.is_owner %}{% blocktrans trimmed %}
        Owned Components
      {% endblocktrans %}{% else %}{% blocktrans trimmed %}
          Component List of
        {% endblocktrans %} <b>{{username}}</b>
      {% endif %}
    </h1>
  </div>
  <div style="margin-top:20px" class="w3-padding">
    {% include "spider_base/usercomponent_list_fragment.html" %}
  </div>
  <div class="page-manipulation w3-padding" style="margin-top:40px">
    {% include 'spider_base/list_footer.html' %}
  </div>
{% endblock %}
