{% extends "spider_base/ucs_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed with name=uc.name %}
    Content List of {{name}}
  {% endblocktrans %}{% endblock %}

{% block main_classes %}{{block.super}} w3-content w3-card-4{% endblock %}

{% block content %}
  <div>
    {# if request.user == uc.user #}
      <a class="w3-right" href="{% url 'spider_base:ucomponent-update' name=uc.name %}">Update</a>
    {# endif #}
    <h1 class="w3-center">
      {% blocktrans trimmed with name=uc.name %}
        Content of User Component: <em>{{name}}</em>
      {% endblocktrans %}
    </h1>
  </div>
  {% if uc.user == request.user %}
    <details class="" style="margin-bottom:30px">
      <summary class="w3-btn w3-grey">
        <i class="fa fa-plus" style="margin-right:10px" aria-hidden="true"></i>
        {% trans 'Add new content' %}
        <i class="fa fa-caret-down" style="margin-left:5px" aria-hidden="true"></i>
      </summary>
      <div class="w3-padding w3-row w3-green">
        {% for contentt in content_types %}
          <a class="w3-button w3-col s12 m3 w3-blue" href="{% url 'spider_base:ucontent-add' user=uc.user name=uc.name type=contentt.name %}">
            {{contentt.localized_name}}
          </a>
        {% empty %}
            {% trans 'No User Content Types available.' %}
        {% endfor %}
      </div>
    </details>
  {% endif %}
  <table class="w3-table w3-striped w3-bordered w3-hoverable w3-margin">
    {% for content in object_list %}
      <tr>
        <td class="">
          {{ content }}
        </td>
        <td class="w3-show-inline-block">
          <div class="w3-bar w3-round-large w3-tiny w3-blue">
            <a class="w3-hover-black w3-button w3-bar-item w3-tooltip" href="{% url 'spider_base:ucontent-access' id=content.id nonce=content.nonce access='view' %}">
              <i class="fa fa-edit" alt="{% trans 'View' %}" aria-label="{% trans 'View' %}"></i>
              <span aria-hidden="true" style="position:absolute;left:1px;bottom:2px" class="w3-text w3-black w3-large"><span class="w3-animate-opacity">{% trans "View" %}</span></span>
            </a>
            {% if uc.user == request.user  %}
            <a class="w3-hover-black w3-button w3-bar-item w3-tooltip" href="{% url 'spider_base:ucontent-access' name=uc.name access='update' %}">
              <i class="fa fa-edit" alt="{% trans 'Edit' %}" aria-label="{% trans 'Edit' %}"></i>
              <span aria-hidden="true" style="position:absolute;left:1px;bottom:2px" class="w3-text w3-black w3-large"><span class="w3-animate-opacity">{% trans "Edit" %}</span></span>
            </a>
            {% endif %}
          </div>
        </td>
      </tr>
    {% empty %}
      <tr><td>{% trans 'No User Content available.' %}</td></tr>
    {% endfor %}
  </ul>
  <div class="page-manipulation w3-padding" style="margin-top:40px">
    {% include 'spider_base/list_footer.html' %}
  </div>
{% endblock %}
