{% extends "spider_base/ucs_base.html" %}
{% load i18n %}

{% block title %}{% if scope == "add" %}{% blocktrans trimmed with name=object %}
  Create Content: {{name}}
{% endblocktrans %}{% elif scope == "update" %}{% blocktrans trimmed with name=object %}
  Update Content: {{name}}
{% endblocktrans %}{% else %}{% blocktrans trimmed with name=object %}
  Content: {{name}}
{% endblocktrans %}{% endif %}{% endblock %}

{% block context_actions %}
{{block.super}}
{% endblock context_actions %}
{% block main_classes %}w3-padding w3-content w3-card-4 w3-pale-green{% endblock %}

{% block content %}
  <div>
    <a class="w3-left" href="{% url 'spider_base:ucontent-list' id=uc.id nonce=uc.nonce %}">{% trans 'index' %}</a>
    {% if scope != "add" and request.user == uc.user %}
      <span class="w3-right">
        <div style="margin-bottom:10px">
          <a href="{% url 'spider_base:ucontent-remove' user=uc.username name=uc.name nonce=object.nonce id=object.id %}">
            {% trans 'Delete' %}
          </a>?
        </div>
        {% if scope != "view" %}
        <div>
          <a class="" href="{% url 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='view' %}">
            {% trans "View" %}
          </a>
        </div>
        {% endif %}
      </span>
    {% endif %}
    <h1 class="w3-center">
      {% if scope == "add" %}
        {% blocktrans trimmed with name=object %}
          Create Content: <em>{{name}}</em>
        {% endblocktrans %}
      {% elif scope == "update" %}
        {% blocktrans trimmed with name=object %}
          Update Content: <em>{{name}}</em>
        {% endblocktrans %}
      {% else %}
        {% blocktrans trimmed with name=object %}
          Content: <em>{{name}}</em>
        {% endblocktrans %}
      {% endif %}
    </h1>
  </div>
{% if form %}
  {{form.media}}
  {% if not render_in_form %}
  <details>
    <summary class="w3-btn w3-grey">
      <i class="fa fa-plus" style="margin-right:10px" aria-hidden="true"></i>
      {% trans 'Base Settings' %}
      <i class="fa fa-caret-down" style="margin-left:5px" aria-hidden="true"></i>
    </summary>
    {% endif %}
    {% include "spider_base/form_errors.html" with form=form %}
    <form action="{{ request.path }}" enctype="{{enctype}}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend><h2>{% trans 'Content Settings' %}</h2></legend>
        {% include "spider_base/base_form.html" with form=form %}
      </fieldset>
      {% if content and render_in_form %}
        <fieldset>
          <legend><h2>{% if scope == "add" %}{{object}}{% else %}{{object.associated.ctype}}{% endif %}</h2></legend>
          {{content|safe}}
        </fieldset>
      {% endif %}
      <button class="w3-button w3-grey">
        {% if scope == "add" %}
          {% trans 'Create' %}
        {% else %}
          {% trans 'Update' %}
        {% endif %}
      </button>

      {% if scope != "add" %}
        <a class="w3-right" href="{% url 'spider_base:ucontent-access' id=object.id nonce=object.nonce access='view' %}">
          {% trans "View" %}
        </a>
      {% endif %}
    </form>
  {% if not render_in_form %}
  </details>
  {% endif %}
{% endif %}
{% if object.id and UserContentType.raw_update in associated.ctype %}
  <div>
    <a class="w3-button" href="{% url 'ucontent-access' id=object.id nonce=object.nonce access='raw_update' %}">
      <i class="fa fa-settings" aria-hidden="true"></i>
      {% trans 'Update Raw Content' %}
    </a>
  </div>
{% endif %}
{% if not render_in_form %}{{content|safe}}{% endif %}
{% endblock %}
