{% extends "spider_base/ucs_base.html" %}
{% load i18n %}

{% block title %}{% if object %}
  {% blocktrans trimmed %}
    Create User Content of type: <em></em>
  {% endblocktrans %}
{% else %}{% blocktrans trimmed with type=object.content_type.name id=object.id %}
  Update User Content: <em>{{type}}-{{id}}</em>
{% endblocktrans %}{% endif %}{% endblock %}

{% block context_actions %}
{{block.super}}
{% endblock context_actions %}
{% block main_classes %}w3-padding w3-content w3-card-4 w3-pale-green{% endblock %}

{% block content %}
  <div>
    <a class="w3-left" href="{% url 'spider_base:ucontent-list' name=uc.name %}">{% trans 'index' %}</a>
    {% if object and object.name != "index" %}
      <span class="w3-right">
        <a href="{% url 'spider_base:ucontent-delete' name=object.id %}">
          {% trans 'delete' %}
        </a>?
      </span>
    {% endif %}
    <h1 class="w3-center">
      {% if form.instance.id %}
        {% blocktrans trimmed with name=form.instance.name %}
          Update User Content: {{name}}
        {% endblocktrans %}
      {% else %}
        {% trans 'Create new User Content' %}
      {% endif %}
    </h1>
  </div>
{% if form %}
  {{form.media}}
  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="protection_name" value="{{name}}" />
    {% for field in form %}
      <div class="">
        <div class="w3-cell w3-padding">
          {{ field.label_tag }}</br>
          {{ field }}
        </div>
        <div class="w3-cell w3-padding">
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        </div>
      </div>
      <div class="">
        {% for error in field.errors %}
          <p style="color: red">{{ error|safe }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button>Confirm</button>
  </form>
{% endif %}
{% if object.id and UserContentType.raw_update in associated.ctype %}
  <div>
    <a class="w3-button" href="{% url 'ucontent-access' id=object.id nonce=object.nonce access='raw_update' %}">
      <i class="fa fa-settings" aria-hidden="true"></i>
      {% trans 'Update Raw Content' %}
    </a>
  </div>
{% endif %}
{{content}}
{% endblock %}
