[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]

django = '>=2'
django-simple-jsonfield = '*'
django-simple-captcha = '*'

[dev-packages]

django-extensions = '*'
Werkzeug = '*'
pyOpenSSL = '*'
