{% extends "spiderucs/base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed %}
  Delete Content
{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>
    {% blocktrans trimmed %}
      Delete Content
    {% endblocktrans %}
  </h1>
  {% if not remaining or remaining == 0 %}
  <form method="DELETE" action="{% url "ucontent-delete" id=object.id %}">
    <button>Delete</button>
  </form>
  {% endif %}

  {% if remaining %}
  <form method="POST" action="{% url "ucontent-delete" id=object.id %}">
    <button>Reset</button>
  </form>
  {% endif %}
{% endblock %}
