{% extends "spiderucs/base.html" %}
{% load i18n %}
{% block title %}Delete: {{object.name}}{% endblock %}
{% block content %}
  <h1>Deletion:</h1><h2>{{object.name}}</h2>
  {% if not remaining or remaining == 0 %}
  <form method="delete" action="{% url 'spiderucs:ucomponent-delete' name=object.name %}">
    <input type="submit" value="Delete" />
  </form>
  {% endif %}

  {% if remaining %}
  <form method="post" action="{% url 'spiderucs:ucomponent-delete' name=object.name %}">
    <input type="submit" value="Reset" />
  </form>
  {% endif %}
{% endblock %}
