{% extends "spiderucs/base.html" %}
{% load i18n %}

{% block content %}
  <div>
    {% if object and object.name != "index" %}
      <span class="w3-right"><a href="{% url 'spiderucs:ucontent-delete' name=object.id %}">{% trans 'delete' %}</a>?</span>
    {% endif %}
    <h1 class="w3-center">
      {% if form.instance.id %}
        {% blocktrans trimmed with name=form.instance.name %}
          Update User Content: {{name}}
        {% endblocktrans %}
      {% else %}
        {% trans 'Create new User Content' %}
      {% endif %}
    </h1>
  </div>
  {{form.media}}
  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="protection_name" value="{{name}}" />
    {% for field in form %}
      <div class="">
        <div class="w3-cell w3-padding">
          {{ field.label_tag }}</br>
          {{ field }}
        </div>
        <div class="w3-cell w3-padding">
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        </div>
      </div>
      <div class="">
        {% for error in field.errors %}
          <p style="color: red">{{ error|safe }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button>Confirm</button>
  </form>
{% endblock %}
