{% extends "spiderucs/base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "User Components" %}</h1>
  {% if object and object.name != "index" %}
    <a href="{% url 'spiderucs:ucomponent-delete' name=object.name %}">delete?</a>
  {% endif %}
  {% if object %}
    <a href="{% url 'spiderucs:ucomponent-create' %}">Add Further</a>
  {% endif %}
  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  <div class="w3-row">
  {% for prot in form.protections %}
    <div class="w3-card w3-col s12 m3">
      <h1>{{prot.name}}</h1>
    {% for field in prot %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error|safe }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
  {% endfor %}
  </div>
  <br/>
  <button>Create Usercomponent</button>
  </form>
{% endblock %}
