{% extends "spiderucs/base.html" %}
{% loads i18n %}

{% block content %}
  <h1>Contents</h1>
  <ul>
  {% for uc in object_list %}
      <li>{% if not nouser %}{{uc.user}} - {%endif%}{{ uc }}</li>
  {% empty %}
      <li>No content.</li>
  {% endfor %}
  </ul>
  <div class="page-manipulation">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% if is_paginated %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% endif %}
        <form method="GET" action="">
          <input type="hidden" name="page" value="{{ page_obj.number }}"/>
          <input type="text" name="search" placeholder="{% trans 'Search' %}" />
          <button>-&gt;</button>
        </form>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
