{% extends "spiderucs/base.html" %}
{% load i18n %}
{% block title %}
{% if component_user %}
  {% blocktrans trimmed %}
    Component List of {{component_user}}
  {% endblocktrans %}
{% else %}
{% endif %}
{% endblock %}

{% block content %}
  <div>
    {% if request.user.is_authenticated %}
      <a class="w3-right" href="{% url 'spiderucs:ucomponent-create' %}">{% trans 'Add New Component' %}</a>
    {% endif %}
    <h1 class="w3-center">
      {% trans "User Components" %}
    </h1>

  </div>
  {% for uc in object_list %}
    <div class="w3-card" style="margin-top: 10px">
      <div class="w3-cell w3-padding">
        {% if not component_user %}{{uc.user}} - {%endif%}{{ uc }}
      </div>
      <div class="w3-cell">
        <a class="w3-button w3-grey w3-cell" href="{% url 'spiderucs:ucontent-list' name=uc.name %}">{% trans "List" %}</a>
        <a class="w3-button w3-grey w3-cell" href="{% url 'spiderucs:ucomponent-update' name=uc.name %}">{% trans "Edit" %}</a>
      </div>
    </div>
  {% empty %}
      {% trans 'No User Components yet.' %}
  {% endfor %}
  <div class="page-manipulation w3-padding" style="margin-top:40px">
    <div class="w3-padding">
      <form class="w3-cell-row w3-black" style="max-width:400px" method="GET" action="">
        <input type="hidden" name="page" value="{% if request.GET.search %}{{ page_obj.number }}{% else %}1{% endif %}"/>
        <div class="w3-cell">
          <input class="w3-input" type="text" name="search" placeholder="{% trans 'Search' %}" />
        </div>
        <div class="w3-cell">
          <button class="w3-button w3-input w3-gray">-&gt;</button>
        </div>
      </form>
    </div>
    <div class="w3-padding w3-center">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
