{% extends "spider_base/base.html" %}

{% load spider_rdf%}

{% block public_meta %}
  {{block.super}}
  {% if scope == "list" %}
    <meta name="description" content="{{uc.description|escape}}" />
  {% else %}
    <meta name="description" content="{{object.content.get_protected_preview|escape}}" />
  {% endif %}
{% endblock %}


{% block context_actions %}
{{block.super}}
{% endblock context_actions %}

{% block main_classes %}{{block.super}} w3-content w3-card-4 color-front-{{uc.strength}}{% endblock %}
{% block body_class %}{{block.super}} color-back-{{uc.strength}}{% endblock %}
{% block main_attributes %}{{block.super}} prefix="spkc: {% namespace %} xsd: http://www.w3.org/2001/XMLSchema#" resource="{{hostpart}}{{ request.path }}"{% endblock %}
