{% extends "spider_protections/base.html" %}
{% load i18n %}
{% block content %}
<form class="w3-padding" action="{{ request.get_full_path }}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>{% trans 'Allow' %}:</h1></legend>
    <table class="w3-table-all">
      <tr>
        <td class="">
          {{referrer}}
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend><h1>{% trans 'Access to' %}:</h1></legend>
    <table class="w3-table-all" rel="accessTo">
      <thead>
        <tr>
          <th class="">{% trans 'Scope' %}</th>
          <th class="">{% trans 'Name' %}</th>
        </tr>
      </thead>
      <tbody>
        {% if scope == "list" %}
          <tr>
            <td class="">{% trans 'Component' %}</td>
            <td typeof="spkc:Property">
              <data hidden="hidden" property="spkc:name" datatype="xsd:string">description</data>{% trans 'Description' %}
            </td>
          </tr>
          {% if uc.public %}
            <tr>
              <td class="">{% trans 'Component' %}</td>
              <td typeof="spkc:Property">
                <data hidden="hidden" property="spkc:name" datatype="xsd:string">name</data>{% trans 'Name' %} (<em>{{uc}}</em>)
              </td>
            </tr>
          {% endif %}
          {% for content in object_list %}
            <tr>
              <td class="">{% trans 'Content' %}</td>
              <td typeof="spkc:Content">
                <data property="spkc:name" datatype="xsd:string">{{content}}</data>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="">{% trans 'Content' %}</td>
            <td typeof="spkc:Content">
              <data property="spkc:name" datatype="xsd:string">{{object}}</data>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </fieldset>
  <button name="action" value="confirm" class="w3-button w3-grey">
    {% trans 'Confirm Access' %}
  </button>

  <button name="action" value="cancel" class="w3-button w3-grey">
    {% trans 'Cancel' %}
  </button>
</form>
{% endblock %}
