{% extends "registration/base.html" %}
{% load i18n static %}

{% block content %}
  {{form.media}}
  <h2>Login</h2>
  <form action="{{ app_path }}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error|safe }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Login</button><br/>
    <div class="password-reset-link">
      <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
    <a href="{% url 'auth:signup' %}">{% trans 'Signup?' %}</a>

  </form>
{% endblock %}
