{% extends "registration/base.html" %}
{% load i18n static %}

{% block content %}
  <h2>Sign up</h2>
  <form action="{{ app_path }}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error|safe }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
