{% load spider_rdf %}
{% literalize value field as valueData %}
{% if valueData|is_dict %}
<data hidden="hidden" rel="spkc:value">
    <data hidden="hidden" {% if valueData.ref %}resource="{{valueData.ref}}"{% endif %} {% if valueData.type %}typeof="{{valueData.type}}"{% endif %}>
        <data hidden="hidden" rel="spkc:properties">
            {% for key, subval in valueData.items.items %}
                <data typeof="spkc:Property">
                    {% hashable_literalize field|default:value key as hashable %}
                    <data hidden="hidden" property="spkc:hashable" datatype="xsd:boolean">{{hashable}}</data>
                    <data hidden="hidden" property="spkc:name" datatype="xsd:string">{{key}}</data>
                    {% if subval|is_uriref %}
                    <data hidden="hidden" property="spkc:value" resource="{{subval}}"></data>
                    {% else %}
                    <data hidden="hidden" property="spkc:value" datatype="{{subval.datatype}}">{{subval}}</data>
                    {% endif %}
                </data>
            {% empty %}
                <data hidden="hidden" resource="rdf:nil"></data>
            {% endfor %}
        </data>
    </data>
</data>
{% else %}
    {% if valueData|is_uriref %}
    <data hidden="hidden" property="spkc:value" resource="{{valueData}}"></data>
    {% else %}
    <data hidden="hidden" property="spkc:value" datatype="{{valueData.datatype}}">{{valueData}}</data>
    {% endif %}
{% endif %}
