{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-US" }}">
  <head>
      <title>{% block title %}{% endblock %}</title>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1.0{% endblock %}">
      <meta name="description" content="{% block description %}{% endblock %}" />
      <meta name="robots" content="{% block robots %}all{% endblock %}" />

      {% block favicon %}
          <link rel="shortcut icon" type="image/png" href="{% static 'spkbspider/favicon.png' %}" />
      {% endblock %}
      {# CSS for all pages #}
      {% block base_styles %}{% endblock %}
      {# CSS for page #}
      {% block styles %}{% endblock %}
      {# form scripts and foo #}
      {% block extrahead %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {# Deco content, e.g.base.html  #}
    {% block layout %}
      {% block messages %}
          {% if messages %}
          <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
          {% endfor %}</ul>
          {% endif %}
      {% endblock messages %}
      {# Main content  #}
      {% block content %}{% endblock %}
    {% endblock %}

    {# Main scripts #}
    {% block base_scripts %}{% endblock %}

    {# Scripts #}
    {% block scripts %}{% endblock %}

    {# e.g. modals #}
    {% block outercontent %}{% endblock %}

    {# Block for body onload functions #}
    <script type="text/javascript">
      $(function() {
          {% block onbodyload %}{% endblock %}
      });
    </script>
  </body>
</html>
