{% extends "registration/base.html" %}
{% load i18n static spider_protections spider_rdf %}
{% extract_protections "protections" as protections %}

{% block main_attributes %}{{block.super}} prefix="spkc: {% spkc_namespace %} xsd: http://www.w3.org/2001/XMLSchema#" resource="{{hostpart}}{{ request.path }}"{% endblock %}

{% block content %}
  {% extract_protections "protections" as protections %}
  <h2>Login</h2>
  <form action="{{ request.get_full_path }}" name="SPKCLoginForm" id="SPKCLoginForm" method="post">
    <input type="hidden" property="spkc:csrftoken" name="csrfmiddlewaretoken" datatype="xsd:string" content="{{csrf_token}}" value="{{csrf_token}}">
    <data hidden="hidden" property="spkc:protections.amount" datatype="xsd:nonNegativeInteger">{{protections|length}}</data>
    <data hidden="hidden" property="spkc:strength" datatype="xsd:integer">10</data>
    <input type="hidden" name="next" value="{{ next }}" />
    <fieldset>
      {% include "spider_base/partials/base_form.html" with form=form %}
    </fieldset>

    {# fieldsets don't allow horizontal scrolling #}
    <h1>{% trans 'Authenticate with' %}</h1>
    <div class="w3-padding w3-border" style="overflow-y: auto; max-height:600px">
      {% for prot in protections %}
        {% include "spider_base/protections/protection_item.html" with prot=prot %}
      {% endfor %}
    </div>
    <button class="w3-button w3-grey" type="submit">Login</button><br/>
    {% if SETTINGS.OPEN_FOR_REGISTRATION %}
      <a href="{% url 'auth:signup' %}">{% trans 'No account? Signup?' %}</a>
    {% endif %}
  </form>

{% endblock %}
