{% extends "registration/base.html" %}
{% load i18n static %}

{% block content %}
  {{form.media}}
  <h2 class="w3-center">{% trans 'Update User Profile' %}</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        <br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">Confirm</button>
  </form>
{% endblock %}
